* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

nav {
    height: 80px;
    width: 100vw;
    margin: 0;
    background-color: #E2711D;
    box-shadow: #441C00 0px 0px 50px 0px;
    display: inline-block;
}

html {
    margin: 0;
    background-image: url("assets/backdrop.png");
    height: 100vw;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    height: 80%;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
    box-shadow: #441C00 0px 0px 5px 0px;
    border-radius: 10px;
}

.nav img {
    height: 40%;
    margin-right: 20px;
}

nav button {
    height: 100%;
    float: right;
    background-color: transparent;
    border: none;
}

nav ul {
    color: #441C00;
    margin-left: 8px;
    margin-top: 8px;
    display:grid;
    float: left;
    list-style-type: none;
}

nav h1 {
    font-size: 1.5rem;
    font-style: italic;
}

nav h2 {
    font-size: 1rem;
}

body {
    display: flexbox;
    overflow-x: auto;
}

article {
    background-color: rgba(256, 256, 256, 0.6);
    color: #441C00;
    border-radius: 20px;
    border-color: #E2711D;
    border-style: solid;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    padding: 10px;

}

footer {
    background-color: #E2711D;
    width: 100vw;
    height: 80px;
    text-align: center;
    margin-top: auto;
}

footer h2 {
    padding: 18px;
}